// Import Bootstrap functions first to ensure variables can use them
@import "../../node_modules/bootstrap/scss/functions";

// Variable overrides
$primary: #003956;
$secondary: #037b94;
$success: #128635;
$warning: #ffbd11;
$danger: #c91432;
$info: $secondary;
$text-muted: #373737;

$primary-bg-subtle: tint-color($primary, 90%);
$focus-ring-opacity: 0.15;

$border-color: #b0b0b0;
$border-color-translucent: $border-color;

$border-radius: 0.7rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-xl: 2rem;
$border-radius-xxl: 3rem;
$border-radius-pill: 50rem;

$font-family-sans-serif: "Fustat Variable", sans-serif;

$toast-background-color: #fff;
$toast-header-background-color: #fff;

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom styles

:root {
    --#{$prefix}text-muted: #{$text-muted};
}

.text-muted {
    color: $text-muted !important;
    font-weight: 300;
}

.navbar-nav,
.nav {
    --#{$prefix}navbar-color: #{$text-muted};
    --#{$prefix}nav-link-font-weight: 300;
}

.accordion-button {
    font-weight: 600;
}

a,
.btn-link {
    text-decoration: none;
}

/* Page */

.page {
    padding-bottom: 5rem !important;
}

/* RJSF */

.rjsf button[type="submit"] {
    margin-top: 3rem;
}

/* Main Navbar (Sidebar) */

.navbar-main {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 25rem;
    flex-shrink: 0;
    padding: 2rem;

    background-color: tint-color($primary, 90%);
    border-right: 1px solid $border-color;

    flex-direction: column;
    align-items: start;
}

.navbar-main .navbar-brand {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.6rem;
    font-weight: 500;
    white-space: inherit;
    line-height: 1.3;
}

.navbar-main .navbar-collapse {
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.navbar-main .user-dropdown {
    font-weight: 300;
    padding-left: $btn-padding-y;
}

.navbar-main .user-dropdown + .dropdown-menu {
    width: 100%;
}

.navbar-main .user-dropdown .user-icon {
    background-color: tint-color($primary, 90%);
    border-radius: $btn-border-radius;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

/* Nav variant "separated" */

navbar-nav.nav-separated {
    padding: var(--bs-nav-link-padding-y) 0;
}

.navbar-nav.nav-separated .nav-link {
    padding: 0 var(--bs-navbar-nav-link-padding-x);
}

.navbar-nav.nav-separated .nav-link.active {
    font-weight: 400;
}

.navbar-nav.nav-separated *:not(:first-child) {
    border-left: 1px solid $border-color;
}

.navbar-nav.nav-separated .nav-link:first-child {
    padding-left: 0;
}

.navbar-nav.nav-separated .nav-link:last-child {
    padding-right: 0;
}

/* Nav variant "heavy" */

.navbar-nav.nav-heavy {
    flex-direction: column;
    width: 100%;
}

.navbar-nav.nav-heavy .nav-link {
    border-radius: $border-radius;
    border: 1px solid transparent;
    padding: 0.75rem 1rem;
}

.navbar-nav.nav-heavy .nav-link.active {
    background-color: white;
    border: 1px solid $border-color;
    font-weight: 400;
}

/* Nav variant "header" */

.nav-header {
    position: relative;
    flex-wrap: nowrap;
    border: 1px solid $border-color;
    border-radius: 9999px;
    width: max-content;
    padding: $btn-padding-y-sm * 0.5;
}

.nav-header::after {
    content: "";
    position: absolute;
    height: calc(100% - $btn-padding-y-sm);
    width: var(--active-width);
    left: var(--active-offset);
    background-color: $primary;
    border-radius: 9999px;
    transition:
        left calc(var(--animation-ready) * 300ms) ease,
        width calc(var(--animation-ready) * 300ms) ease;
}

.nav-header .nav-link {
    position: relative;
    z-index: 1;
    color: $black;
}

.nav-header .nav-link.active {
    color: $white;
    background-color: rgb(
        from $primary r g b / calc(1 - var(--animation-ready))
    );
    border-radius: 9999px;
}

/* Header */

.header {
    border-bottom: 1px solid $border-color;
    background-color: $white;
}

.header-title {
    margin-bottom: 0;
    font-weight: 400;
}

/* Divider */

.divider {
    width: 100%;
    margin: 1rem 0;
    border-top: 1px solid $border-color;
    opacity: 1;
}

/* Spacing */

.row {
    margin: 0;
}

.row > * {
    padding: 0;
    margin: 0;
}

.container {
    padding: 2rem 3rem;
}

/* Buttons */

.btn-outline-border {
    @include button-variant(
        $white,
        $border-color,
        $black,
        tint-color($border-color, 90%),
        $border-color,
        $black,
        tint-color($border-color, 90%),
        $border-color,
        $black,
        transparent,
        $border-color,
        $border-color
    );
}

.btn.icon-button {
    padding: $btn-padding-x;
    line-height: 1;
}

/* Hero */

.hero h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

/* Pulse */

.pulse {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulse-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--pulse-color);
    animation: pulse 2s infinite;
}

.pulse-inner {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: var(--pulse-color);
}

@keyframes pulse {
    0% {
        transform: scale(0.4);
        opacity: 0.75;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

/* Visualization */

.visual-container {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 1rem;
    background-color: tint-color($primary, 95%);
}

/* Utility classes */

.tight-container {
    width: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

/* Scrollgutter */

html {
    scrollbar-gutter: stable;
}

body.modal-open {
    padding-right: 0 !important;
}
